@-webkit-keyframes aniZoomIn {
  from {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    opacity: 1;
    -webkit-transform: scale3d(1.5, 1.5, 1.5) translate3d(120px,-30px,0);
    transform: scale3d(1.5, 1.5, 1.5) translate3d(120px,-30px,0);    
  }

  50% {
    opacity: 1;
  }
}

@keyframes aniZoomIn {
  from {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    opacity: 1;
    -webkit-transform: scale3d(1.5, 1.5, 1.5) translate3d(120px,-30px,0);
    transform: scale3d(1.5, 1.5, 1.5) translate3d(120px,-30px,0); 
  }

  50% {
    opacity: 1;
  }
}

.aniZoomIn {
  -webkit-animation-name: aniZoomIn;
  animation-name: aniZoomIn;
}
/*渐显移动*/
@-webkit-keyframes aniFadeIn {
  from {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    opacity: 0;
    -webkit-transform: translate3d(-320px,60px,0);
    transform: translate3d(-320px,60px,0);    
  }

  50% {
    opacity: 1;
  }
}

@keyframes aniFadeIn {
  from {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    opacity: 0;
    -webkit-transform: translate3d(-320px,60px,0);
    transform: translate3d(-320px,60px,0); 
  }

  50% {
    opacity: 1;
  }
}

.aniFadeIn {
  -webkit-animation-name: aniFadeIn;
  animation-name: aniFadeIn;
}
@-webkit-keyframes moveFromTop {
  from { -webkit-transform: translateY(-100%); transform: translateY(-100%); }
}
@keyframes moveFromTop {
  from { -webkit-transform: translateY(-100%); transform: translateY(-100%); }
}
/*渐显*/
@-webkit-keyframes aniFade {
  from {
    opacity: 1;   
  }

  100% {
    opacity: 0;
  }
}

@keyframes aniFade {
  from {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.aniFade {
  -webkit-animation-name: aniFade;
  animation-name: aniFade;
}
/*delay animation-iteration-count:infinite; */
.delay1{
  animation-duration:2s;
  animation-delay:1s;
  
}
.delay2{
  animation-duration:3s;
  animation-delay:2s;
}
.delay3{
  animation-duration:3s;
  animation-delay:3s;
}
.delay4{
  animation-duration:4s;
  animation-delay:4s;
}
.delay5{
  animation-duration:5s;
  animation-delay:5s;
}

.swiper-wrapper{
   transition-timing-function: linear;
   transition-delay:2s;
}
.ani{
   animation-timing-function:  linear;
   -webkit-animation-timing-function:  linear;
   transition-delay:2s;
}
/*清楚浮动*/
.clearfloat{
    zoom:1;
}

.clearfloat:after{
    content: "";
    display:block;
    height: 0;
    clear: both;
    visibility: hidden;
}