.svg-bg{
	position: relative;
  height: 800px;
  background: #141f33;
   /* background-image: url('data:image/svg+xml,\
    <svg xmlns="http://www.w3.org/2000/svg" \
    height="120" width="70"> \
 <polyline points="0,0 35,20 35,60 0,80 0,120"  style="fill:#141f33;stroke:#374051;stroke-width:2" /> \
    <polyline points="70,0 35,20 35,60 70,80 70,120"  style="fill:#141f33;stroke:#374051;stroke-width:2" /> \
 </svg>');*/
	/* background-image: url(../images/become-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;*/
}
.svg-become{
	position: absolute;
	top:0;
	left: 0;
	width: 1000px;
	height: 800px;
}
.static-svg{
	background-image: url(../images/become-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: absolute;top:0;left: 0;width: 1000px;height: 800px;
}
.line-path,.line-path1 {
    fill: none;
    stroke:#fff;
    stroke-width:2;
  }
.main-bg{
	position: absolute;
	top:240px;
	left: 140px;
	width: 1000px;
	height: 800px;
}
